<p id="notice"><%= notice %></p>

<p>
  <h1> Collection for <%= @collection.name%> </h1> 
  <% if @collection.products.count> 0 %> 
    <table> 
      <thead> 
        <tr> 
          <th> Name </th> 
          <th> Price </th>
        </tr> 
      </thead> 
      <tbody> <% @collection.products.each do |product| %> 
        <tr> <td> <%= link_to product.name, product %> </td>
             <td> <%= product.price%> </td>
        </tr> 
        <% end %>
      </tbody> 
    </table > 
  <% else %> 
    <p> No products in this collection. </p> 
  <% end %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
