<h1> Forgot your password</h1>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

 <%= form_for(:password_resets, url: password_reset_path) do |f| %>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email, class:'form-control',placeholder:"exampler@email.com" %>
    </div>    
    
    <div>
        <%= f.submit "Reset Password", class: "btn btn-primary" %>
    </div>
        
<% end%>