<% provide(:title, @customer.username) %>
<h1>
    <%= gravatar_for_customer @customer %>
    <%= @customer.username %>
    
    <% if logged_in? %>
        <li><%= link_to "Pending Orders", "/carts/#{Cart.find_by_customer_id(current_customer.id).id}" %></li>
    <% elsif current_user_twitter %>
      <li><%= link_to "Pending Orders", "/carts/#{Cart.find_by_user_id(current_user_twitter.id).id}" %></li>
    <% else %>
      <li><%= link_to "Pending Orders", login_path %></li>
    <% end %>
</h1>