<p id="notice"><%= notice %></p>
<h1>Bag (<%= @cart.orders.count%>)</h1>

<table>
  <thead>
    <tr>
      <th>  </th>
      <th> Item </th>
      <th> Price </th>
      <th> Quantity </th>
      <th> Total Price </th>
    </tr>
  </thead>

  <tbody>
    <% @cart.orders.each do |order| %>
      <tr>
        <td> <%= image_tag order.product.imagelink, height:'300' %> </td>
        <td> <%= order.product.name%> </td>
        <td> <%= number_to_currency(order.product.price) %> </td>
        <td> <%= order.quantity %> </td>
        <td> <%= number_to_currency(order.product.price * order.quantity) %> </td>
        <td> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4> Sub Total: <%= @total%></h4>
<% if logged_in? %>
  <%= link_to 'Pay now', "/carts/#{Cart.find_by_customer_id(current_customer.id).id}", :onclick => Cart.find_by_customer_id(current_customer.id).orders.delete_all, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Pay now', "/carts/#{Cart.find_by_user_id(current_user_twitter.id).id}", :onclick => Cart.find_by_user_id(current_user_twitter.id).orders.delete_all, class: "btn btn-primary" %>
<% end %>
