<div class="row">
    <div class="col-md-6 col-md-offset-3">
<%= form_with url: "/filter", method: :get do |f| %>

    <%= f.label :all, class: "checkbox inline" do %>         
        <%= f.check_box :all, class:"all" %>         
        <span>All</span>       
    <% end %> 
    
    <%= f.label :men, class: "checkbox inline" do %>         
        <%= f.check_box :men, class:"other"%>         
        <span>Men</span>       
    <% end %> 
    
    <%= f.label :women, class: "checkbox inline" do %>         
        <%= f.check_box :women %>         
        <span>Women</span>       
    <% end %> 
    
    <%= f.label :kids, class: "checkbox inline" do %>         
        <%= f.check_box :kids %>         
        <span>Kids</span>       
    <% end %> 
    
    <%= f.label :newarrival, class: "checkbox inline" do %>         
        <%= f.check_box :newarrival %>         
        <span>New-arrival</span>       
    <% end %> 
    
    <%= f.label :color %>
    <%= f.select :color, options_for_select(["Blue", "Red", "Yellow", "Green"]), :class => 'genForm_dropBox', class: 'form-control' %>

    <%= f.label :size %>
    <%= f.select :size, options_for_select(["S", "M", "L", "XL"]), :class => 'genForm_dropBox', class: 'form-control' %>
    
    <%= f.submit "Filter"%>
<% end %>
 </div>
</div>
