<article id="<%= dom_id(product) %>">
  <p> <%= image_tag product.imagelink, height:'300' %></p>
  <p><%= toggle_favorite(product) %> Item: <%= product.name %> Price: <%= product.price %></p>
</article>