<p id="notice"><%= notice %></p>

<p>
  <h1> Product name: <%= @product.name%> </h1>
  <table>
    <tbody>
      <td>
        <p> <%= image_tag @product.imagelink, height:'300' %></p>
      </td>
      <% @product.photos.each do |photo| %>
      <td>
        <p><%= image_tag photo.image, height:'300' %></p>
      </td>
      <% end %>
      
      <p><%= toggle_favorite(@product) %> Item: <%= @product.name %> Price: <%= @product.price %></p>
    </tbody> 
  </table>
</p>

<div class="content">
    <div class="slickslide" slick="">
        <div class="image-div"> <%= image_tag @product.imagelink, height:'300' %></div>
      <% @product.photos.each do |photo| %>
        <div class="image-div"><%= image_tag photo.image, height:'300' %></div>
      <% end %>
    </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @product.popularity %>
</p>

<p>
  <strong>Imagelink:</strong>
  <%= @product.imagelink %>
</p>

<p> 
  <strong> Favorite: </strong > 
  <%= @product.favorite %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
