<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Choi-Pham</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Shop</a></li>
            <li><a class="dropdown-item" href="#">Saved</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">help & support</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
=======
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Choi-Pham", root_path, id: "logo"%>
        <nav>
            <ul class="nav navbar-nav navbar-left">
                <div class="dropdown">
                    <button class="dropbtn"> <%= image_tag("menu.svg", height:'24' ) %>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <p> Shop </p>
                        <a href="/collections/men">Men</a>
                        <a href="/collections/women">Women</a>
                        <a href="/collections/kids">Kids</a>
                        <a href="/collections/new-arrival">New-arrival</a>
                        <hr class="solid">
                        <a href="/savedlist">Saved List</a>
                        <hr class="solid">
                        <a href="/helpandsupport">Help and Support</a>
                    </div>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to"Home",   root_path%></li>
                <li><%= link_to"Saved List",   static_pages_saved_list_url%></li>
                <li><%= link_to"Help and Support", static_pages_help_and_support_url%></li>
                <% if current_user %>
                      <label_tag><%= current_user.email %></label_tag>
                      <li><%= link_to "Log Out", logout_path %></li>
                    <% else %>
                      <li><%= link_to "Sign Up", signup_path %></li>
                      <li><%= link_to "Log In", login_path %></li>
                    <% end %>
                
            </ul>
        </nav>
    </div>
</header> 

>>>>>>> master
